@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html body{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(243, 231, 217, 0.486);
  
}

#navbar{
  height: 70px;
  /* border: 1px solid black; */
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1842D4;
  margin-bottom: 50px;
}

#navbar > #nav-logo{
  width: 40%;
}


#navbar a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: Poppins;
  color: white;
}

#navbar > #nav-items{
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
}

#navbar #nav-toggler{
  display: none;
}


#main-div {
  position: relative;
  /* background-color: black; */
  height: 100%;
  overflow: hidden;
}

#credit-cards,
#Loans,
#insurance {
  position: relative;
  height: 100%;
  /* width: 100%; */
  /* border: 1px solid black; */
  
}

#main-div > section:nth-child(1){
  margin-bottom: 5rem;
}
#main-div > section:nth-child(2){
  margin-bottom: 5rem;
}
#main-div > section:nth-child(3){
  margin-bottom: 5rem;
}

#slider{
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  position: relative;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}

#bank-logo {
  position: relative;
  display: flex;
  padding-left: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  
}



#insurance  #bank-logo  .img-container{
  height: 220px;
  width: 300px;
  border-radius: 10px;
  
 }


#credit-cards  #bank-logo  .img-container {
  position: relative;
  height: 200px;
  width: 250px;
  /* border: 2px solid rgba(100, 100, 100, 0.418); */
  border-radius: 10px;
}

#Loans #bank-logo  .img-container {
  position: relative;
  height: 200px;
  width: 250px;
  /* border: 2px solid rgba(100, 100, 100, 0.418); */
  border-radius: 10px;
}




.img-container > img {
  /* padding: 10px; */
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#credit-cards,
#Loans,
#insurance, h2 {
  color: #1842D4; 
  text-align: center;
  text-transform: capitalize;
  font-family: Poppins;
  /* border: 1px solid black; */
  margin-bottom: 2rem;
  
}

#slider > #prev {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  /* background-color: rgba(143, 137, 137, 0.199); */
  color: black;
  z-index: 2;
}

#slider > #next {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(19, 18, 18, 0.486);
  color: white;
  z-index: 2;
}

#slider > #next:hover{
  
  background-color: rgba(247, 247, 247, 0.486);
  color: black;
}


/* this is modal logo section css  */

#logo{
  position: fixed;
  bottom: 20px; /* Adjust as per your requirement */
  right: 20px; /* Adjust as per your requirement */
  z-index: 9999; /* Ensure it stays on top of other content */
}

#logo > img{
  width: 60px; /* Adjust as per your requirement */
  height: auto;
}

/* footer section css  */

#footer-div{
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #1842D4;
  padding: 15px 50px;
}

#footer-div a{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-family: Poppins;
}

#footer-div > #footer-upperdiv{
  position: relative;
  display: flex;
  gap: 30px;
  height: 90%;
  /* border: 1px solid black; */
  padding: 5px;
}

#footer-upperdiv > #footer-leftdiv{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* border: 1px solid red; */
}

#footer-leftdiv #footer-contactdiv{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  /* border: 1px solid white; */
}

#footer-contactdiv img{
  width: 30px;
  height: auto;
}

#footer-upperdiv > #footer-rightdiv{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

#footer-div > h5 {
  text-align: center;
  font-size: 2rem;
  font-family: Inter;
  color: white;
  font-weight: 400;
}


::-webkit-scrollbar{
  display: none;
}


@media screen and (max-width: 768px){

  #navbar{
    height: fit-content;
    padding: 10px  25px;
    justify-content:start;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: start;
    /* border: 2px solid red; */
    position: relative;
  }

 
  #navbar > #nav-items{
    display: none;
  }

  #navbar #nav-toggler{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* position: absolute; */
    /* border: 1px solid white; */
  }

  #toggle-btn{
    font-size: 1.8rem;
    text-align: start;
  }

  .active{
    /* width: 100vw; */
    display: none;
  }

  
  #toggle-navitems{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
    padding-left: 5px;
    /* position: absolute; */
    /* background-color: black; */
    /* width: 100%; */
    /* display: none; */
    /* user-select: none; */
    
  }

  /* #toggle-navitems a{
    color: black;
  } */
}